<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win.DotNet.BasicProfiler" Language="1033" Version="$(var.Version)">
    <Package Id="53b3ff21-6e50-4089-80e6-139ed5a7febc" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_DotNet_BasicProfiler_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_DotNet_BasicProfiler_Component" Guid="b24dd3a3-071c-4b2c-a28e-d5617b6ebd34">
            <File Id="Chronos_Client_Win_DotNet_BasicProfiler_dll" Name="Chronos.Client.Win.DotNet.BasicProfiler.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.BasicProfiler.dll" />
            <File Id="Chronos_Client_Win_DotNet_BasicProfiler_xchronex" Name="Chronos.Client.Win.DotNet.BasicProfiler.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.BasicProfiler.xchronex" />
          </Component>
          <Directory Id="Chronos_Client_Win_DotNet_BasicProfiler_Layouts_Directory" Name="$(var.LayoutsDir)">
            <Component Id="Chronos_Client_Win_DotNet_BasicProfiler_Layouts_Component" Guid="0a0dd2c7-9e77-466d-8c89-91df9ec27c4f">
              <File Id="Profiling_DotNet_BasicProfiler_AppDomains_layout" Name="Profiling.DotNet.BasicProfiler.AppDomains.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.AppDomains.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Assemblies_layout" Name="Profiling.DotNet.BasicProfiler.Assemblies.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Assemblies.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Classes_layout" Name="Profiling.DotNet.BasicProfiler.Classes.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Classes.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Functions_layout" Name="Profiling.DotNet.BasicProfiler.Functions.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Functions.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Modules_layout" Name="Profiling.DotNet.BasicProfiler.Modules.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Modules.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Threads_layout" Name="Profiling.DotNet.BasicProfiler.Threads.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Threads.layout" />
              <File Id="Profiling_Page_layout" Name="Profiling.Page.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.Page.layout" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
