<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Common.EventsTree" Language="1033" Version="$(var.Version)">
    <Package Id="a6993cc0-2b63-46ff-a3ba-03e7cd0260a1" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Common_EventsTree_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Common_EventsTree_Component" Guid="63c680c1-3910-4c2e-a3a8-76a7c45696ee">
            <File Id="Chronos_Common_EventsTree_dll" Name="Chronos.Common.EventsTree.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Common.EventsTree.dll" />
            <File Id="Chronos_Common_EventsTree_xchronex" Name="Chronos.Common.EventsTree.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Common.EventsTree.xchronex" />
            <File Id="Chronos_Common_EventsTree_Agent_dll" Name="Chronos.Common.EventsTree.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Common.EventsTree.Agent.dll" />
          </Component>
          <Directory Id="Chronos_Common_EventsTree_Directory_64" Name="$(var.ModuleDir64)">
            <Component Id="Chronos_Common_EventsTree_Component_64" Guid="11c72f92-6999-464c-91e9-e3a159032201">
              <File Id="Chronos_Common_EventsTree_Agent_dll_64" Name="Chronos.Common.EventsTree.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.ModuleDir64)\Chronos.Common.EventsTree.Agent.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
