<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleConfig.wxi"?>
  <Module Id="Chronos.Common" Language="1033" Version="$(var.Version)">
    <Package Id="c0b170c6-327a-4e49-baa5-8988d8690c41" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Common_Directory" Name="$(var.TargetDir)">
          <Component Id="Chronos_Common_Component" Guid="ea2bdb29-f318-4dd6-985a-c2a3d8581a72">
            <File Id="Chronos_Common_dll" Name="Chronos.Common.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.Common.dll" />
            <File Id="Chronos_Common_xchronex" Name="Chronos.Common.xchronex" DiskId="1" Source="$(var.SourceDir)\Chronos.Common.xchronex" />
            <File Id="Chronos_Common_Agent_dll" Name="Chronos.Common.Agent.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.Common.Agent.dll" />
          </Component>
          <Directory Id="Chronos_Common_Directory_64" Name="$(var.Dir64)">
            <Component Id="Chronos_Common_Component_64" Guid="F8443E5F-1109-41BE-9079-854F67D2CD06">
              <File Id="Chronos_Common_Agent_dll_64" Name="Chronos.Common.Agent.dll" DiskId="1" Source="$(var.SourceDir)\$(var.Dir64)\Chronos.Common.Agent.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
