<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.DotNet" Language="1033" Version="$(var.Version)">
    <Package Id="f33b53a4-11e3-4ba0-9834-6e37b9b49778" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_DotNet_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_DotNet_Component" Guid="85116c38-e442-4901-bf64-50e9a4f0bb06">
            <File Id="Chronos_DotNet_dll" Name="Chronos.DotNet.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.dll" />
            <File Id="Chronos_DotNet_xchronex" Name="Chronos.DotNet.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.xchronex" />
            <File Id="Chronos_DotNet_Agent_dll" Name="Chronos.DotNet.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.Agent.dll" />
            <File Id="Chronos_DotNet_Agent_EntryPoint_dll" Name="Chronos.DotNet.Agent.EntryPoint.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.Agent.EntryPoint.dll" />
          </Component>
          <Directory Id="Chronos_DotNet_Directory_64" Name="$(var.ModuleDir64)">
            <Component Id="Chronos_DotNet_Component_64" Guid="97571b57-3223-44e4-a559-3301d276c12c">
              <File Id="Chronos_DotNet_Agent_dll_64" Name="Chronos.DotNet.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.ModuleDir64)\Chronos.DotNet.Agent.dll" />
              <File Id="Chronos_DotNet_Agent_EntryPoint_dll_64" Name="Chronos.DotNet.Agent.EntryPoint.dll" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.ModuleDir64)\Chronos.DotNet.Agent.EntryPoint.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
