<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win.Common.EventsTree" Language="1033" Version="$(var.Version)">
    <Package Id="15aea2fa-24ea-4904-85c5-8a86e887e859" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_Common_EventsTree_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_Common_EventsTree_Component" Guid="b9359ab2-90fa-4ef8-b2d5-78bc53c021df">
            <File Id="Chronos_Client_Win_Common_EventsTree_dll" Name="Chronos.Client.Win.Common.EventsTree.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Common.EventsTree.dll" />
            <File Id="Chronos_Client_Win_Common_EventsTree_xchronex" Name="Chronos.Client.Win.Common.EventsTree.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Common.EventsTree.xchronex" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
