<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="communication" type="Chronos.Config.CommunicationSection, Chronos" />
    <section name="extensions" type="Chronos.Config.ExtensionsSection, Chronos" />
    <section name="daemon" type="Chronos.Config.DaemonSection, Chronos" />
    <section name="environment" type="Chronos.Config.EnvironmentSection, Chronos" />
    <section name="logging" type="Chronos.Config.LoggingSection, Chronos" />
  </configSections>
  <!-- Communication ===========================================================================-->
  <daemon>
    <autoClose enabled="true" timeout="15000" /> <!-- 15 sec -->
  </daemon>
  <!-- Communication ===========================================================================-->
  <communication>
    <remoting>
      <ipc />
      <tcp />
    </remoting>
    <!--<local currentProtocol="namedpipe">
      <namedpipe />
    </local>-->
  </communication>
  <!-- Logging =================================================================================-->
  <logging loglevel="Error">
  </logging>
  <!-- Extensions ==============================================================================-->
  <extensions>
    <directories>
      <!-- Development -->
      <add path="..\..\Chronos.Common\build\" />
      <add path="..\..\Chronos.Common.EventsTree\build\" />
      <add path="..\..\Chronos.Common.StandaloneApplication\build\" />
      
      <add path="..\..\Chronos.DotNet\build\" />
      <add path="..\..\Chronos.DotNet.BasicProfiler\build\" />
      <add path="..\..\Chronos.DotNet.ExceptionMonitor\build\" />
      <add path="..\..\Chronos.DotNet.SqlProfiler\build\" />
      <add path="..\..\Chronos.DotNet.TracingProfiler\build\" />
      
      <add path="..\..\Chronos.Java\build\" />
      <add path="..\..\Chronos.Java.BasicProfiler\build\" />
      
      <add path="..\..\Chronos.Client.Win\build\" />
      
      <add path="..\..\Chronos.Client.Win.Common\build\" />
      <add path="..\..\Chronos.Client.Win.Common.EventsTree\build\" />
      <add path="..\..\Chronos.Client.Win.Common.StandaloneApplication\build\" />
      
      <add path="..\..\Chronos.Client.Win.DotNet\build\" />
      <add path="..\..\Chronos.Client.Win.DotNet.BasicProfiler\build\" />
      <add path="..\..\Chronos.Client.Win.DotNet.ExceptionMonitor\build\" />
      <add path="..\..\Chronos.Client.Win.DotNet.SqlProfiler\build\" />
      <add path="..\..\Chronos.Client.Win.DotNet.TracingProfiler\build\" />

      <add path="..\..\Chronos.Client.Win.Java\build\" />
      <add path="..\..\Chronos.Client.Win.Java.BasicProfiler\build\" />
    
      
      <!-- Production -->
      <add path="..\Chronos.Common\" />
      <add path="..\Chronos.Common.EventsTree\" />
      <add path="..\Chronos.Common.StandaloneApplication\" />
      
      <add path="..\Chronos.DotNet\" />
      <add path="..\Chronos.DotNet.BasicProfiler\" />
      <add path="..\Chronos.DotNet.ExceptionMonitor\" />
      <add path="..\Chronos.DotNet.SqlProfiler\" />
      <add path="..\Chronos.DotNet.TracingProfiler\" />

      <add path="..\Chronos.Java\" />
      <add path="..\Chronos.Java.BasicProfiler\" />
      
      <add path="..\Chronos.Client.Win\" />
      
      <add path="..\Chronos.Client.Win.Common\" />
      <add path="..\Chronos.Client.Win.Common.EventsTree\" />
      <add path="..\Chronos.Client.Win.Common.StandaloneApplication\" />
      
      <add path="..\Chronos.Client.Win.DotNet\" />
      <add path="..\Chronos.Client.Win.DotNet.BasicProfiler\" />
      <add path="..\Chronos.Client.Win.DotNet.ExceptionMonitor\" />
      <add path="..\Chronos.Client.Win.DotNet.SqlProfiler\" />
      <add path="..\Chronos.Client.Win.DotNet.TracingProfiler\" />

      <add path="..\Chronos.Client.Win.Java\" />
      <add path="..\Chronos.Client.Win.Java.BasicProfiler\" />
    </directories>
  </extensions>
</configuration>