<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Logging LogLevel="Error">
    <FileLogger IsEnabled="True" LogLevel="Error"> <!-- All, Off, Critical, Error, Warning, Information, Verbose, ActivityTracing  -->
      <LogsDirectory Path="%ProgramData%\ChronosProfiler\Logs\" />
    </FileLogger>
    <EventLogger IsEnabled="False" LogLevel="Off" />
  </Logging>
  <CrashDump IsEnabled="True">
    <DumpsDirectory Path="%ProgramData%\ChronosProfiler\Dumps\" />
  </CrashDump>
  <Extensions>
    <!-- Development -->
    <Extension IsEnabled="true" Path="..\..\Chronos.Common\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Common.EventsTree\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Common.StandaloneApplication\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.DotNet\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.DotNet.BasicProfiler\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.DotNet.ExceptionMonitor\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.DotNet.SqlProfiler\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.DotNet.TracingProfiler\build\" />

    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.Common\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.Common.EventsTree\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.Common.StandaloneApplication\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet.BasicProfiler\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet.ExceptionMonitor\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet.SqlProfiler\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet.TracingProfiler\build\" />
    <Extension IsEnabled="true" Path="..\..\Chronos.Client.Win.DotNet.FindReference\build\" />

    <!-- Production -->
    <Extension IsEnabled="true" Path="..\Chronos.Common\" />
    <Extension IsEnabled="true" Path="..\Chronos.Common.EventsTree\" />
    <Extension IsEnabled="true" Path="..\Chronos.Common.StandaloneApplication\" />
    <Extension IsEnabled="true" Path="..\Chronos.DotNet\" />
    <Extension IsEnabled="true" Path="..\Chronos.DotNet.BasicProfiler\" />
    <Extension IsEnabled="true" Path="..\Chronos.DotNet.ExceptionMonitor\" />
    <Extension IsEnabled="true" Path="..\Chronos.DotNet.SqlProfiler\" />
    <Extension IsEnabled="true" Path="..\Chronos.DotNet.TracingProfiler\" />

    <Extension IsEnabled="true" Path="..\Chronos.Client.Win\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.Common\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.Common.EventsTree\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.Common.StandaloneApplication\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet.BasicProfiler\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet.ExceptionMonitor\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet.SqlProfiler\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet.TracingProfiler\" />
    <Extension IsEnabled="true" Path="..\Chronos.Client.Win.DotNet.FindReference\" />
  </Extensions>
  <ProfilingResults Path="%ProgramData%\ChronosProfiler\ProfilingResults\" />
  <HostConnections RunLocal="true">
    <!--<Connection MachineAddress="localhost" ObjectUid="{1B6E1937-B1A8-4E54-B2E0-D4DC1CD7642A}">
      <IpcChannel />
    </Connection>-->
  </HostConnections>
</Settings>