<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win.DotNet" Language="1033" Version="$(var.Version)">
    <Package Id="6843d4d8-62a4-4416-b005-ddb0fc499ae8" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_DotNet_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_DotNet_Component" Guid="79c4102d-4f92-43cf-9432-6d9ec556daa9">
            <File Id="Chronos_Client_Win_DotNet_dll" Name="Chronos.Client.Win.DotNet.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.dll" />
            <File Id="Chronos_Client_Win_DotNet_xchronex" Name="Chronos.Client.Win.DotNet.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.xchronex" />
          </Component>
          <Directory Id="Chronos_Client_Win_DotNet_Layouts_Directory" Name="$(var.LayoutsDir)">
            <Component Id="Chronos_Client_Win_DotNet_Layouts_Component" Guid="e7b9c54f-1b6c-49e9-b101-4a3de0398b69">
              <File Id="ProfilingPageViewModel_layout" Name="ProfilingPageViewModel.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\ProfilingPageViewModel.layout" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
