<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleConfig.wxi"?>
  <Module Id="Chronos.DotNet.ExceptionMonitor" Language="1033" Version="$(var.Version)">
    <Package Id="8d5ca954-5d73-49a4-9857-2951b1eb0ecc" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_DotNet_ExceptionMonitor_Directory" Name="$(var.TargetDir)">
          <Component Id="Chronos_DotNet_ExceptionMonitor_Component" Guid="e57221f4-5fea-49da-b328-5af07ccc6eb5">
            <File Id="Chronos_DotNet_ExceptionMonitor_dll" Name="Chronos.DotNet.ExceptionMonitor.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.DotNet.ExceptionMonitor.dll" />
            <File Id="Chronos_DotNet_ExceptionMonitor_xchronex" Name="Chronos.DotNet.ExceptionMonitor.xchronex" DiskId="1" Source="$(var.SourceDir)\Chronos.DotNet.ExceptionMonitor.xchronex" />
            <File Id="Chronos_DotNet_ExceptionMonitor_Agent_dll" Name="Chronos.DotNet.ExceptionMonitor.Agent.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.DotNet.ExceptionMonitor.Agent.dll" />
          </Component>
          <Directory Id="Chronos_DotNet_ExceptionMonitor_Directory_64" Name="$(var.Dir64)">
            <Component Id="Chronos_DotNet_ExceptionMonitor_Component_64" Guid="F8443E5F-1109-41BE-9079-854F67D2CD06">
              <File Id="Chronos_DotNet_ExceptionMonitor_Agent_dll_64" Name="Chronos.DotNet.ExceptionMonitor.Agent.dll" DiskId="1" Source="$(var.SourceDir)\$(var.Dir64)\Chronos.DotNet.ExceptionMonitor.Agent.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
