<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Common.ServiceApplication" Language="1033" Version="$(var.Version)">
    <Package Id="36182e29-b0e7-4afd-abb6-fb95e908c063" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Common_ServiceApplication_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Common_ServiceApplication_Component" Guid="1c904d60-ac64-466b-8dcd-b6d10a101912">
            <File Id="Chronos_Common_ServiceApplication_dll" Name="Chronos.Common.ServiceApplication.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Common.ServiceApplication.dll" />
            <File Id="Chronos_Common_ServiceApplication_xchronex" Name="Chronos.Common.ServiceApplication.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Common.ServiceApplication.xchronex" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
