<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chronos.Client.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chronos.Client.Win.Properties.Settings>
            <setting name="OpenFileViewLastUsedPath" serializeAs="String">
                <value />
            </setting>
        </Chronos.Client.Win.Properties.Settings>
    </userSettings>
</configuration>