<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleConfig.wxi"?>
  <Module Id="Chronos.Java.BasicProfiler" Language="1033" Version="$(var.Version)">
    <Package Id="8ad61536-87ba-4ebb-b656-e0181a5ff7f6" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Java_BasicProfiler_Directory" Name="$(var.TargetDir)">
          <Component Id="Chronos_Java_BasicProfiler_Component" Guid="5f2f4cb1-7d6f-44c1-a3a2-491311a527b4">
            <File Id="Chronos_Java_BasicProfiler_dll" Name="Chronos.Java.BasicProfiler.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.Java.BasicProfiler.dll" />
            <File Id="Chronos_Java_BasicProfiler_xchronex" Name="Chronos.Java.BasicProfiler.xchronex" DiskId="1" Source="$(var.SourceDir)\Chronos.Java.BasicProfiler.xchronex" />
            <File Id="Chronos_Java_BasicProfiler_Agent_dll" Name="Chronos.Java.BasicProfiler.Agent.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.Java.BasicProfiler.Agent.dll" />
          </Component>
          <Directory Id="Chronos_Java_BasicProfiler_Directory_64" Name="$(var.Dir64)">
            <Component Id="Chronos_Java_BasicProfiler_Component_64" Guid="a94bb6cd-2d6f-4beb-a0f6-1268fa4d21ab">
              <File Id="Chronos_Java_BasicProfiler_Agent_dll_64" Name="Chronos.Java.BasicProfiler.Agent.dll" DiskId="1" Source="$(var.SourceDir)\$(var.Dir64)\Chronos.Java.BasicProfiler.Agent.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>