<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.DotNet.TracingProfiler" Language="1033" Version="$(var.Version)">
    <Package Id="38167236-4e99-4460-97e8-fdbb548712d2" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_DotNet_TracingProfiler_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_DotNet_TracingProfiler_Component" Guid="2bbacdef-b416-42e7-b84c-1f668b721c0d">
            <File Id="Chronos_DotNet_TracingProfiler_dll" Name="Chronos.DotNet.TracingProfiler.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.TracingProfiler.dll" />
            <File Id="Chronos_DotNet_TracingProfiler_xchronex" Name="Chronos.DotNet.TracingProfiler.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.TracingProfiler.xchronex" />
            <File Id="Chronos_DotNet_TracingProfiler_Agent_dll" Name="Chronos.DotNet.TracingProfiler.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.DotNet.TracingProfiler.Agent.dll" />
          </Component>
          <Directory Id="Chronos_DotNet_TracingProfiler_Directory_64" Name="$(var.ModuleDir64)">
            <Component Id="Chronos_DotNet_TracingProfiler_Component_64" Guid="891dbbd4-108d-4bf0-b6b6-b81087b1918b">
              <File Id="Chronos_DotNet_TracingProfiler_Agent_dll_64" Name="Chronos.DotNet.TracingProfiler.Agent.dll" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.ModuleDir64)\Chronos.DotNet.TracingProfiler.Agent.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>

