<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleConfig.wxi"?>
  <Module Id="Chronos.Client.Win.Java.BasicProfiler" Language="1033" Version="$(var.Version)">
    <Package Id="25ab2b5d-3059-489e-9682-db9cadf8e996" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_Java_BasicProfiler_Directory" Name="$(var.TargetDir)">
          <Component Id="Chronos_Client_Win_Java_BasicProfiler_Component" Guid="e812cd33-86c5-4fe1-8f7e-1f2a173e6982">
            <File Id="Chronos_Client_Win_Java_BasicProfiler_dll" Name="Chronos.Client.Win.Java.BasicProfiler.dll" DiskId="1" Source="$(var.SourceDir)\Chronos.Client.Win.Java.BasicProfiler.dll" />
            <File Id="Chronos_Client_Win_Java_BasicProfiler_xchronex" Name="Chronos.Client.Win.Java.BasicProfiler.xchronex" DiskId="1" Source="$(var.SourceDir)\Chronos.Client.Win.Java.BasicProfiler.xchronex" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
