<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="Chronos.DotNet.BasicProfiler.Module" Language="1033" Version="1.0.0.0">
		<Package Id="be2adc14-b8d1-4e2d-8d98-6aeb451a8e27" Manufacturer="EPAM Systems" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

				<!-- TODO: Remove the comments around this Component element in order to add resources to this module. -->
				<!-- <Component Id="ModuleComponent" Guid="2ce8cdf9-a801-4e00-9a98-c560f90513e1"> -->
					<!-- TODO: Insert files, registry keys, and other resources here. -->
				<!-- </Component> -->

			</Directory>
		</Directory>
	</Module>
</Wix>
