<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win" Language="1033" Version="$(var.Version)">
    <Package Id="d2907d60-fe36-4d19-aaf8-e5f17d7612b3" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_Component" Guid="d62f5434-d073-4f58-a8dd-a527b87c0af4">
            <File Id="Adenium_dll" Name="Adenium.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Adenium.dll" />
            <File Id="Caliburn_Micro_dll" Name="Caliburn.Micro.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Caliburn.Micro.dll" />
            <File Id="Caliburn_Micro_Platform_dll" Name="Caliburn.Micro.Platform.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Caliburn.Micro.Platform.dll" />
            <File Id="Chronos_Client_Win_dll" Name="Chronos.Client.Win.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.dll" />
            <File Id="Chronos_Client_Win_Application_exe" Name="Chronos.Client.Win.Application.exe" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Application.exe" />
            <File Id="Chronos_Client_Win_Application_exe_config" Name="Chronos.Client.Win.Application.exe.config" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Application.exe.config" />
            <File Id="Microsoft_Practices_Unity_dll" Name="Microsoft.Practices.Unity.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Microsoft.Practices.Unity.dll" />
            <!--<File Id="Microsoft_Windows_Shell_dll" Name="Microsoft.Windows.Shell.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Microsoft.Windows.Shell.dll" />-->
            <File Id="System_Windows_Interactivity_dll" Name="System.Windows.Interactivity.dll" DiskId="1" Source="$(var.ModuleSourceDir)\System.Windows.Interactivity.dll" />
          </Component>
          <Directory Id="Chronos_Client_Win_Layouts_Directory" Name="$(var.LayoutsDir)">
            <Component Id="Chronos_Client_Win_Layouts_Component" Guid="28d78ce2-7b4b-49c9-bdeb-009fc97ae913">
              <File Id="HomePageViewModel_layout" Name="HomePageViewModel.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\HomePageViewModel.layout" />
              <File Id="ProfilingPageViewModel_layout" Name="ProfilingPageViewModel.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\ProfilingPageViewModel.layout" />
              <File Id="StartPageViewModel_layout" Name="StartPageViewModel.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\StartPageViewModel.layout" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
          <Component Id="ApplicationShortcut" Guid="0da40b46-8bc8-4ff5-abc5-5ef8ebb182f0">
            <Shortcut Id="ApplicationStartMenuShortcut" Name="Chronos Profiler" Description="Chronos Profiler Client" Target="[#Chronos_Client_Win_Application_exe]" WorkingDirectory="Chronos_Client_Win_Directory"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>