<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win.Common.StandaloneApplication" Language="1033" Version="$(var.Version)">
    <Package Id="dacd2b17-06a0-415a-bf3f-814ae1a217d2" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_Common_StandaloneApplication_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_Common_StandaloneApplication_Component" Guid="9e43e0d6-9314-4a39-8296-78ec76c43c29">
            <File Id="Chronos_Client_Win_Common_StandaloneApplication_dll" Name="Chronos.Client.Win.Common.StandaloneApplication.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Common.StandaloneApplication.dll" />
            <File Id="Chronos_Client_Win_Common_StandaloneApplication_xchronex" Name="Chronos.Client.Win.Common.StandaloneApplication.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.Common.StandaloneApplication.xchronex" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
