<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "$(var.SolutionDir)\.scripts\ModuleInfo.wxi"?>
  <Module Id="Chronos.Client.Win.DotNet.FindReference" Language="1033" Version="$(var.Version)">
    <Package Id="bfa890a7-44ac-4c0e-8d27-1f88d756f3e6" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="Chronos_Client_Win_DotNet_FindReference_Directory" Name="$(var.ModuleTargetDir)">
          <Component Id="Chronos_Client_Win_DotNet_FindReference_Component" Guid="715b54e7-6ae5-4e51-89a1-fd2496301f66">
            <File Id="Chronos_Client_Win_DotNet_FindReference_dll" Name="Chronos.Client.Win.DotNet.FindReference.dll" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.FindReference.dll" />
            <File Id="Chronos_Client_Win_DotNet_FindReference_xchronex" Name="Chronos.Client.Win.DotNet.FindReference.xchronex" DiskId="1" Source="$(var.ModuleSourceDir)\Chronos.Client.Win.DotNet.FindReference.xchronex" />
          </Component>
          <Directory Id="Chronos_Client_Win_DotNet_FindReference_Layouts_Directory" Name="$(var.LayoutsDir)">
            <Component Id="Chronos_Client_Win_DotNet_FindReference_Layouts_Component" Guid="98f52727-db46-4019-ae82-0f87092bc161">
              <File Id="Profiling_Common_EventsTree_EventsTree_layout" Name="Profiling.Common.EventsTree.EventsTree.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.Common.EventsTree.EventsTree.layout" />
              <File Id="Profiling_Common_EventsTree_EventTree_layout" Name="Profiling.Common.EventsTree.EventTree.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.Common.EventsTree.EventTree.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Assemblies_layout" Name="Profiling.DotNet.BasicProfiler.Assemblies.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Assemblies.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Classes_layout" Name="Profiling.DotNet.BasicProfiler.Classes.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Classes.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Functions_layout" Name="Profiling.DotNet.BasicProfiler.Functions.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Functions.layout" />
              <File Id="Profiling_DotNet_BasicProfiler_Modules_layout" Name="Profiling.DotNet.BasicProfiler.Modules.layout" DiskId="1" Source="$(var.ModuleSourceDir)\$(var.LayoutsDir)\Profiling.DotNet.BasicProfiler.Modules.layout" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
