<?xml version="1.0" encoding="utf-8" ?>
<Menu Id="Menu.Main">
  <Control Id="Chronos.Client.Win.Menu.Common.CommonMenuItem">
    <Control Type="Chronos.Client.Win.Menu.Common.EventsTree.EventsTreeMenuItem, Chronos.Client.Win.Common.EventsTree" />
    <Control Type="Chronos.Client.Win.Menu.Common.EventsTree.TimelineMenuItem, Chronos.Client.Win.Common.EventsTree" />
  </Control>
</Menu>

<!--
<Menus>
  <Menu Id="Menu.Main">
    <Control Id="Chronos.Client.Win.Menu.Common.CommonMenuItem">
      <Control Type="Chronos.Client.Win.Menu.Common.EventsTree.EventsTreeMenuItem, Chronos.Client.Win.Common.EventsTree" />
      <Control Type="Chronos.Client.Win.Menu.Common.EventsTree.TimelineMenuItem, Chronos.Client.Win.Common.EventsTree" />
    </Control>
  </Menu>
</Menus>
-->